.row{
    padding-top: 1rem
}

.header1{
    text-align : center;
    font-weight: 300;
    font-size: xx-large;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p1{
    font-size: x-large;
    margin-top: 1rem;
    font-weight: 100;
}